.vs/
.vscode/

build/
out/
ParaView/
NearToFarFieldExports/
resources/*.msh
vcpkg_installed/
CMakeFiles/

*.csv
*.gf
mesh.mesh
*.mtx

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.FCStd1


.vs/*
out/*
/CMakeSettings.json
.vscode/settings.json
/SpaceSwapping/L2toND
/testData/dftData


CMakeUserPresets.json
/dotvs_backup
valgrind-opensemba.txt
CMakeCache.txt
