[submodule "pythonBindings/pybind11"]
	path = pythonBindings/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "external/opensemba-core"]
	path = external/opensemba-core
	url = git@github.com:OpenSEMBA/core.git
